
/* Global */
body {background-color:#FFF; color:#333; font-family:Helvetica, Arial, sans-serif;}


/* Navigation */
nav {background:#4a525b; padding:30px 0;}
nav li {display:inline-block; margin:0 5px;}
nav a {background:#f9f9f9; border:6px solid #aab3bb; border-radius:100px; font-size:12px; height:100px; line-height:100px; text-transform:uppercase; width:100px;}
nav a:hover,
nav a.active {background:#efefef;}
nav a.active {border:6px solid #999; font-weight:bold;}


/* Body */
section {min-height:800px;}
section .tab {display:none;}
section .tab > p {padding:0 10%;}
section .active {display:block;}

.questions {display:none;}
.questions .question {border:1px solid #efefef; border-radius:2px; min-height:400px; padding:30px;}
.questions .question h3 span {background:#efefef; border-radius:35px; color:#fff; display:block; font-size:40px; font-weight:bold; height:70px; line-height:70px; margin:0 auto 10px; text-shadow:1px 1px 1px #ddd; width:70px;}
.questions .question p {color:#999;}

.role .button {font-size:12px; line-height:12px; padding:4px 6px;}

.tour-filter {display:none;}
