/* Global */
body {background-color:#FFF; color:#333; font-family:Helvetica, Arial, sans-serif;}


/* Navigation */
nav {background:#4a525b; padding:30px 0;}
nav li {display:inline-block; margin:0 5px;}
nav a {background:#f9f9f9; border:6px solid #aab3bb; border-radius:100px; font-size:12px; height:100px; line-height:100px; text-transform:uppercase; width:100px;}
nav a:hover,
nav a.active {background:#efefef;}
nav a.active {border:6px solid #FF7F24; font-weight:bold;}


/* Body */
section {min-height:800px;}
section .tab {display:none;}
section .tab > p {padding:0 10%;}
section .active {display:block;}

.questions {display:none;}
.questions .question {border:1px solid #efefef; border-radius:2px; min-height:400px; padding:30px;}
.questions .question h3 span {background:#efefef; border-radius:35px; color:#fff; display:block; font-size:40px; font-weight:bold; height:70px; line-height:70px; margin:0 auto 10px; text-shadow:1px 1px 1px #ddd; width:70px;}
.questions .question p {color:#999;}

.role .button {font-size:12px; line-height:12px; padding:4px 6px;}

.tour-filter {display:none;}
.video {display:inline-block; float:left; height:40%; width:50%; border:1px solid; border-radius:10px; border-color: green;}
.filters {display:none;}
.sample {border:2px solid; border-radius:25px;}
.query-builder {display:inline-block; float:right; height:100%; width:50%; border:1px solid; border-radius:10px; border-color: green;}
.query {height:100%; width:100%;}

input.switch:empty
{
  margin-left: -1500px;
}

input.switch:empty ~ label
{
	position: relative;
	float: left;
	line-height: 1.6em;
	text-indent: 4em;
	margin: 0.2em 0;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.switch:empty ~ label:before,
input.switch:empty ~ label:after
{
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: ' ';
	width: 3.6em;
	background-color: #000000;
	border-radius: 0.3em;
	box-shadow: inset 0 0.2em 0 rgba(0,0,0,0.3);
	-webkit-transition: all 100ms ease-in;
	transition: all 100ms ease-in;
}
input.switch:empty ~ label:after
{
	width: 1.4em;
	top: 0.1em;
	bottom: 0.1em;
	margin-left: 0.1em;
	background-color: #fff;
	border-radius: 0.15em;
	box-shadow: inset 0 -0.2em 0 rgba(0,0,0,0.2);
}

input.switch:checked ~ label:before
{
	background-color: #FF7F24;
}
input.switch:checked ~ label:after
{
	margin-left: 2em;
}

.csdlswitch{position: absolute; top: 90%; left: 54%;}

.csdlcode
{
   display: inline-block; float:right; background-color:#FFF; display:none; height: 100%; width: 100%;
}



